# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Data
data/nfl.db
